* {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
  box-sizing: border-box; 
}

html { font-family: "Inter", sans-serif; }

h2, h3, h4 { color: hsl(0, 0%, 100%); }

body {
  background: hsl(222, 25%, 10%);
  color:  hsl(0, 0%, 88%);
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}

input, button, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  color:  hsl(0, 0%, 88%);
  cursor: pointer;
}

li { list-style: none; }

a {
  text-decoration: none;
  display: block;
  color:  hsl(0, 0%, 88%);
}

::-webkit-scrollbar {
  background: transparent;
  border-left: 1px solid hsl(218, 39%, 14%);
}

::-webkit-scrollbar-thumb {
  background: hsl(214, 84%, 56%);
  border-radius: 5em;
  border: 3px solid hsl(222, 25%, 10%);
}

.navbar,
.movies,
.category{
  padding: 0 120px;
}

.section-heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
}

.container {
  max-width: auto;
    margin: auto;
    
}

.profile-container {
 
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-text-container {
  margin: 0 20px;
}
.profile-text-container i{
  padding-left: 10px;
  position: absolute;
}
.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

header{
  position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: 0.9s;
}

.navbar {
  height: 100px;
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  
}

.navbar-menu-btn { display: none; }

 nav { margin-right: 200px; }

 .navbar-nav {
  display:flex;
  column-gap: 4rem;

}
.navbar-nav li {
  position: relative;

}
.navbar-nav a{
  font-size: 14px;
  font-weight: 500;
  color: rgb(250, 244, 244);
}
.navbar-nav a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(241, 239, 238);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}
.navbar-link:hover { color: hsl(214, 84%, 56%); }

.navbar-nav a:hover::after, .navbar-nav .home-active::after {
  width: 100%;
}

.navbar-actions {
  display:     flex;
  align-items: center;
  
}

.navbar-form {
  position: relative;
  margin-right: 50px;
}

.navbar-form-search {
  background: none;
  width: 100%;
  padding: 12px 20px;
  border-radius: 15px;
  color:  hsl(0, 0%, 88%);
  font-size: 14px;
  font-weight: 500;

  border: 1px solid white;

  margin-right: 150px;

}

.navbar-form-btn {
  background: none;
  position: absolute;
  top:   calc(50% - 10px);
  right: 10px;
  padding-left: 30px;
}

.navbar-form-btn ion-icon,
.navbar-search-btn ion-icon {
  font-size: 20px;
  color: hsl(214, 84%, 56%);
  --ionicon-stroke-width: 50px;
}

.navbar-form-btn:hover ion-icon,
.navbar-form-search::placeholder { color:  hsl(0, 0%, 88%); }

.navbar-form-close,
.navbar-search-btn { display: none; }

.navbar-brand img{
  width: 50%;
}

video{
  width: 100%;
  height: auto;
}

.banner-card {
  padding-top: 40%;
  position: relative;
  overflow: hidden;
}

.banner-card {
  height: max-content;
  padding-top: unset;
}



.banner-card .card-content {
  position: absolute;
  right:  80px;
  bottom: 20%;
  left:   80px;
}

.banner-card .card-info {
  display:     flex;
  align-items: center;
  margin-bottom: 20px;
}

.banner-card .card-info div {
  display:     flex;
  align-items: center;
  margin-right: 20px;
}

.banner-card .card-info ion-icon {
  font-size: 20px;
  color:  hsl(211, 100%, 50%);
  margin-right: 5px;
}

.banner-card .card-info span { font-weight: 600; }

.banner-card .card-info .quality {
  background:  hsl(211, 100%, 50%);
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 700;
}

.banner-card .card-title {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  text-shadow: 2px 0 2px #0007;
}
.banner--fadeBottom {
  margin-top: -140px;
  height: 10rem;
  background-image: linear-gradient(180deg, transparent, rgba(1, 1, 2, 0.61), rgb(8, 1, 15));
  margin-bottom: 30px;
  position: relative;
}


.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 10px;
  border-right: 2px solid gray;
  border-bottom: 1px solid gray;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters img{
  width: 100%;
  height: 100%;
}

.row__posters::-webkit-scrollbar {
  display: none;

}

.row__posterLarge {
  max-height: 300px;
}

.row {
  margin-left: 20px;
}